

{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-6 mx-auto">
        <H2 class= 'border-top=5'>
            CREATE ACCOUNT
        </H2>
            <form action="" method="POST">
                    {% csrf_token %}
                
                    <div> {{ form.as_p }}  </div>
                
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == "error" %}
                                <div>
                                    <p>{{ message }}</p>
                                {% else %}

                                <p>{{ message }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                
                    <input type="submit" value="Signup">
                </form>
       
    </div>
</div>
{% endblock %}